APP_PORT=3000
PORT=3000
MONGODB_URI=mongodb://username:password@host:27017/status-dashboard?authSource=admin
CHECK_INTERVAL_MINUTES=30
RETENTION_DAYS=7
SCREENSHOT_QUALITY=70
NEXT_TELEMETRY_DISABLED=1
VAPID_SUBJECT=mailto:admin@example.com
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

